21:11 Uhr
@font-face {
    font-family: firstFont;
    src: url('./Fonts/Montserrat/Montserrat-Thin.ttf');
}

@font-face {
    font-family: secondFont;
    src: url('./Fonts/Montserrat/Montserrat-Bold.ttf')
}
@font-face{
    font-family: xyz;
    src: url('./Fonts/Fruktur-Regular.ttf')
}


* {
    font-size: 24px;
    
}

.container {
    margin: auto;
    width: 75%;
}

#head1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:24px;
    margin: 2vh 5vw;
    color: rgb(123, 35, 147);
    width: 300px;
    padding: 50px;
    border: 1px solid gray;
    box-sizing: border-box;

}

.title {
    font-size: 2rem;
    margin: 2em; 
    background-color: antiquewhite;
    font-weight: 400;
}

#head2 {
    /* border-bottom: 2px dotted blue; */
    color: rgba(255, 0 , 0 , 0.3);
    /* margin-bottom: 10px;
    margin-left: 20px; */
    /* margin: 0px 0px 10px 0px; */
    padding: 15px;
    width: 500px;
    box-sizing: border-box;
    
}

#head3 {
    margin: 20px;
    font-family: secondFont;
}

p.description {
    /* font-size: 36px; */
    font-family: firstFont;
    margin: 2em ;
    /* margin: 2rem; root element */
    color: #000
}

h3.description {
    margin: 5% ;
    font-family: xyz;
    border-width: 2px 5px 3px 10px;
    padding: 20px;
    /* top right bottom left */
    border-width: 2px 5px;
    /* top-bottom // right-left */
    border-style: solid;
    border-color: red;
    color: #aeaeae;;
}

/* 0 1 2 3 4 .... 9 A B C D E F

f -> 15.1 + 15.16 = 255 */