.ortala {
    height: auto;
    width: 800px;
    margin: 0px auto;
  }
  body {
    background-color: rgb(82, 173, 158);
    font-size: 18px;
    font-weight: 700;
  }
  /*Tüm Elementleri Seçer*/
  * {
    font-family: "Verdana", Courier, monospace;
  }
  /*ID Seçici*/
  #kimlik {
    color: rgb(187, 255, 0);
    border: 1px solid rgb(0, 0, 0);
  }
  /*Torun Seçici*/
  /*ul li {
    font-weight: bold;
    color: blue !important;
  }*/
  /*Basit Seçici*/
  a {
    text-decoration: underline;
  }
  /*Bitişik Seçici*/
  p + hr {
    background-color: red;
  }
  /* Çocuk Seçici */
  /*ul > li {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: rebeccapurple;
  }*/
  
  /*Nitelik Seçici*/
  
  li[lang] {
    border: 3px solid saddlebrown !important;
    border-radius: 20px;
  }
  
  /*Genişletilmiş Bitişik Seçici*/
  p ~ hr {
    background-color: yellow !important;
  }
  
  /*Class Seçiciler*/
  
  .p-2 {
    border: 3px solid black;
    border-radius: 50px;
  }
  