#first {
    background-color: red;
    width: 100px;
    height: 100px;
    position: relative;
    left: 200px;
    /* position: absolute;
    right: 0;
    bottom: 0; */
    /* position: relative;
    left: 20px;
    top: 50px */
    /* margin-top: 50px; */
}

#container {
 /* border: 1px solid gray; */
 width: 500px;
 height: 500px;
 /* position: relative;
 left: 100px;    */
}

#second {
    background-color: green;
    width: 100px;
    height: 100px;
    
}

#third {
    background-color: blue;
    width: 100px;
    height: 100px;
    position: relative;
    left: 100px;
}