#first {
    background-color: red;
    width: 100px;
    height: 100px;
    /* display: inline-block;
    position: relative;
    left: 210px; */
    /* position: relative; */
    /* left: 210px;
    /* left: 20px;
    top: 50px; */
    /* margin-top: 50px; */ */
}

#second {
    background-color: green;
    width: 100px;
    height: 100px;
    /* display: inline-block;
    position: relative;
    right: 100px; */
    /* position: relative;
    /* left: 110px; */
    /* top: -100px; */ */
}

#third {
    background-color: blue;
    width: 100px;
    height: 100px;
    /* display: inline-block;
    position: relative;
    right: 100px; */
    /* position:relative;
    left: 105px;
    top: -200px;
} */